@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

* {
    margin:0;
    padding: 0;
    border: 0;
    }
    
    body{
      font-family: EB Garamond;
      color: whitesmoke;
      font-size: 16px;
        }

/*------------------------------------------ Colors */
.nav-item a {
    color: whitesmoke;
}



/*------------------------------------------ Margins */


h1,
h2,
h3,
h4 {
    margin: 0;
}
 
.margin-bottom {
    margin-bottom: 20px;
}


/*------------------------------------------ Heading */
header {
    margin: 0;
}

h1{
    text-transform: uppercase;
}

#home {
    background-image: url("../images/dogsgrass.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
}

.logo {
    background: url("../images/waggytaillodgelogo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 100px;
    margin: 25px;
}

.text-center {
    text-align: center;
}

.page-header {
	height: 50vh;
	background: center 75% / cover no-repeat;
}

nav {
    margin-top: 50px;
    font-size: 20px;
    text-align: right;
    
}

.nav-item a {
    text-decoration: none;
}

nav > a:hover {
	color: silver;
}

.button {
    font-size: 20px;
}

.container {
    margin: auto;
}

/*------------------------------------------ Section */

.heading {
    color:  whitesmoke;
    margin-bottom: 20px;
    background-color: #38450f;
    background-size: cover;
    width: 100%;
}

.subtitle {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
}


 .section {
    background-color: #7d875d;
 }

/*------------------------------------------ About Us */

.about {
    margin-left: 20px;
    text-align: center;
    text-transform: uppercase;
    margin-right: 20px;
}

  
  #owners {
    margin-left: 20px;
    background-position: left;
    background-repeat: no-repeat;
    display: flex;
  }

  .about-p {
    margin-top: 10px;
  }

/*------------------------------------------ Our Facility */


  .carousel-fade .carousel-item {
	opacity: 0;
	transition-duration: .1s;
	transition-property: opacity;
    aspect-ratio: 3 / 2;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
	opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
	opacity: 0;
}

.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-prev {
	transform: translateX(0);
	transform: translate3d(0, 0, 0);
}
  
  .align-p {
text-align: center;
  }

/*------------------------------------------ Testimonials */

.test {
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 2px;
} 

git

/*------------------------------------------ Our services */







/*------------------------------------------ Prices */

ul { 
    list-style: none;
    margin: 0;
    padding: 0;
}


.offer-icon {
    text-align: center;
}

/*------------------------------------------ Contact */

.faq {
    background-color: #38450f !important;
    margin-bottom: 55px;
    border-color: #38450f !important;
}


.faq-p {
    background-color: whitesmoke;
    text-align: center;
}

.text-muted {
    color: #38450f !important;
}

/*------------------------------------------ Book Now! */
.modalbg {
    background-color: #7d875d !important;
}

*.custom-radio .custom-control-input:checked~.custom-control-label::before,
.custom-radio .custom-control-input:checked~.custom-control-label::after {
    background-color:#38450f; 
    border-color: #38450f;
    border-radius: 50%;
}

.custom-radio .custom-control-input:active ~ .custom-control-label::before {
    color: #fff;
    background-color:#38450f;
    border-color: #38450f;
}

input[type="checkbox"] {
    accent-color: #38450f;
    color: whitesmoke;
}
.btn-primary {
    color: whitesmoke;
    background-color:#38450f;
    border-color: #38450f;
    margin-bottom: 20px;
}

.btn-primary:hover {
    background-color: #7d875d;
    border-color: #38450f;
}


.date {
    margin-top: 20px;
}

form.row {
    margin-bottom: 20px !important;
}

/*------------------------------------------ Footer */

footer {
    background-color: #38450f;
    padding: 1em;
    text-align: center;
    width: 100%;
}

footer > span {
	color: whitesmoke;
    margin-right: 30px;
}

footer > a {
	color:whitesmoke;
	text-decoration: none;
	padding: 0 15px;
	font-size: 0.8rem;
}

footer > p {
	color: whitesmoke;
    margin-top: 30px;
}

/* ----------------------------------------Media */

@media screen and (max-width: 1393px) {
    #home {
        width: 100%;
        height: 350px;
        margin: 0 auto;
    }

    .logo {
        height: inherit;
        }

    #owners {
        margin: 0;
        justify-content: center;
        margin-top: 5px;
    }


}



@media screen and (max-width: 800px) {

.logo {
    height: 50%;
    width: 50%;
    }

#owners {
    justify-content: center;
  }

  .about-p {
    text-align: center;
  }

}