@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

* {
    margin:0;
    padding: 0;
    border: 0;
    }
    
    body{
      font-family: EB Garamond;
      color: whitesmoke;
      font-size: 16px;
        }

/*------------------------------------------ Colors */
.nav-item a {
    color: whitesmoke;
}



/*------------------------------------------ Margins */


h1,
h2,
h3,
h4 {
    margin: 0;
}
 
.margin-bottom {
    margin-bottom: 20px;
}


/*------------------------------------------ Heading */
header {
    margin: 0;
}

h1{
    text-transform: uppercase;
}

#home {
    background-image: url(../images/dogsgrass.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    background-color: var(--black);
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out; 
}

.logo {
    background: url("../images/waggytaillodgelogo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 100px;
    margin: 25px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out; 
}

.text-center {
    text-align: center;
}

.page-header {
	height: 50vh;
	background: center 75% / cover no-repeat;
}

nav {
    margin-top: 50px;
    font-size: 20px;
    text-align: right;
    
}

.nav-item a {
    text-decoration: none;
}

nav > a:hover {
	color: silver;
}

.button {
    font-size: 20px;
}

.container {
    margin: auto;
}

/*------------------------------------------ Section */

.heading {
    color:  whitesmoke;
    margin-bottom: 20px;
    background-color: #38450f;
    background-size: cover;
    width: 100%;
}


 .section {
    background-color: #7d875d;
 }

/*------------------------------------------ About Us */

.about {
    margin-left: 20px;
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
    margin-right: 20px;
}
  
  #owners {
    margin-left: 20px;
    background-position: left;
    background-repeat: no-repeat;
  }

  .about-p {
    margin-top: 20px;
    padding-top: 10px;
  }

/*------------------------------------------ Our Facility */


  .carousel-fade .carousel-item {
	opacity: 0;
	transition-duration: .1s;
	transition-property: opacity;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
	opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
	opacity: 0;
}

.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-prev {
	transform: translateX(0);
	transform: translate3d(0, 0, 0);
}
  
  .align-p {
text-align: center;
  }

/*------------------------------------------ Testimonials */

.test {
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 2px;
} 

/*------------------------------------------ Our services */







/*------------------------------------------ Prices */

ul { 
    list-style: none;
    margin: 0;
    padding: 0;
}


.offer-icon {
    text-align: center;
}

/*------------------------------------------ Contact */

.faq {
    background-color: #38450f !important;
    margin-bottom: 55px;
    border-color: #38450f !important;
}


.faq-p {
    background-color: whitesmoke;
    text-align: center;
}

.text-muted {
    color: #38450f !important;
}

/*------------------------------------------ Book Now! */


.custom-radio .custom-control-input:checked~.custom-control-label::before,
.custom-radio .custom-control-input:checked~.custom-control-label::after {
    background-color:#38450f; 
    border-color: #38450f;
    /* this background image SVG is just a white circle, you can replace it with any valid SVG code */
    background-image: url(data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='%23fff'/%3E%3C/svg%3E); 
    border-radius: 50%;
}

.custom-radio .custom-control-input:active ~ .custom-control-label::before {
    color: #fff;
    background-color:#38450f;
    border-color: #38450f;
}

.custom-checkbox .form-check-input:checked~.form-check-label::before,
.custom-checkbox .form-check-input:checked~.form-check-label::after {
    background-color:#38450f; 
    border-color: #38450f;
    /* this background image SVG is just a white circle, you can replace it with any valid SVG code */
    background-image: url(data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='%23fff'/%3E%3C/svg%3E); 
    border-radius: 50%;
}

.custom-checkbox .form-check-input:active ~ .form-check-label::before {
    color: #fff;
    background-color:#38450f;
    border-color: #38450f;
}

.btn-primary {
    color: #fff;
    background-color:#38450f;
    border-color: #38450f;
    margin-bottom: 20px;
}

.date {
    margin-top: 20px;
}

form.row {
    margin-bottom: 20px !important;
}

/*------------------------------------------ Footer */

footer {
    background-color: #38450f;
    padding: 1em;
    text-align: center;
    width: 100%;
}

footer > span {
	color: whitesmoke;
    margin-right: 30px;
}

footer > a {
	color:whitesmoke;
	text-decoration: none;
	padding: 0 15px;
	font-size: 0.8rem;
}

footer > p {
	color: whitesmoke;
    margin-top: 30px;
}

/* ----------------------------------------Media */

@media(min-width: 992px) {
    # {
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 50%;
    }
}
